<html>
<body>
<form method="post" action="/profile">
    <input type="text" name="fullName" placeholder="full name">
    <input type="text" name="accountName" placeholder="account name">
    <input type="text" name="division" placeholder="division">
    <input type="submit" value="Add Staff" class="btn float-right login_btn">
</form>
<table>
    {{#each values}}
        <tr>
            <td>{{name}}</td>
            <td>{{username}}</td>
            <td>{{division}}</td>
        </tr>
    {{/each}}
</table>
</body>
</html>