<html>
<body>
<form method="post" action="/profile">
    <input type="text" name="fullName" placeholder="full name">
    <input type="text" name="accountName" placeholder="account name">
    <input type="text" name="department" placeholder="department">
    <input type="submit" value="Add Staff" class="btn float-right login_btn">
</form>
</body>
</html>